.testTable {
    position: absolute;
    width:  500px;
    margin-left: auto;
    margin-right: auto;
    top: 10px;
    bottom: 10px;
    background: red;
    overflow: auto;
}

.internalPane {
    position: relative;
    background: rgb(235, 235, 235);
}